@import url('https://fonts.googleapis.com/css?family=Kreon|Ubuntu&display=swap&subset=latin-ext');

body, html {
    color: #151313;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    font-family: 'Kreon', serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

.navigation {
    background-color: rgba(228, 233, 237, 0.9);
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
  }

a {
    text-decoration: none;
    font-weight: bold;
    color: #36365b;
    transition: all 0.5s;
  }

.navigation ul li a:hover {
    background-color: #36365b;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
  }

.splash {
    background-image: url('https://i.postimg.cc/X48nkVGT/blank-composition-data-373076.jpg');
    height: 280px;
    width: 100%;
    text-align: center;
    padding-top: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

.main-title {
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
  }

.main-subtitle {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.5rem;
  }

.btn {
    padding: 18px 24px 18px 24px;
    background-color: #36365b;
    color: #ffffff;
    box-shadow: 5px 6px 20px #181e44;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    font-weight: normal;
  }

.btn:hover {
    background-color: rgba(228, 233, 237);
    color: #36365b;
    border-color: #36365b;
  }

.container {
    display: flex;
    flex-wrap: wrap;
  }

.skills-wrapper {
    display: flex;
    position: absolute;
    right: 0;
    width: 1241px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.05);
  }

.skills {
    text-align: center;
    margin-top: 15px;
    width: 100%
  }

.skills i {
    transition: 0.5s;
  }

.skills i:hover {
    transform: rotate(360deg);
  }

.about {
    width: 980px;
    height: 370px;
    background-color: rgba(228, 233, 237);
    margin-bottom: 20px;
    margin-top: 20px;
  }

.about-title {
      margin-left: 30px;
      color: #181443;
      font-family: 'Ubuntu', sans-serif;
  }

.lorem {
    width: 1241px;
    background-color: #ffffff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.05);
  }

.about-content {
    display: flex;
    width: 1241px;
  }
  
.olga {
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

.photo {
    background-color: #ffffff;
  }

.skille {
    width: 980px;
    height: 370px;
    background-color: rgba(228, 233, 237);
    float: right;
  }

.skills-title {
      margin-left: 30px;
      color: #181443;
      font-family: 'Ubuntu', sans-serif;
  }

.portfolio {
  clear: both;
}

.portfolio-title {
    margin-left: 30px;
    color: #181443;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
  }

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.portfolio-item {
    position: relative;
    margin: 0;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item:before {
    position: absolute;
    display: none;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.portfolio-item:hover:before, .portfolio-item:hover {
    display: block;
  }