@import url("https://fonts.googleapis.com/css?family=Kreon|Ubuntu&display=swap&subset=latin-ext");

body,
html {
  color: #151313;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  font-family: "Kreon", serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navigation {
  background-color: rgba(228, 233, 237, 0.9);
  padding: 12px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #36365b;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  background-color: #36365b;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.splash {
  background-image: url("https://i.postimg.cc/X48nkVGT/blank-composition-data-373076.jpg");
  height: 280px;
  width: 100%;
  text-align: center;
  padding-top: 465px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.main-title {
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.main-subtitle {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn {
  padding: 18px 24px 18px 24px;
  background-color: #36365b;
  color: #ffffff;
  box-shadow: 5px 6px 20px #181e44;
  font-family: "Ubuntu", sans-serif;
  border-radius: 8px;
  font-weight: normal;
}

.btn:hover {
  background-color: rgba(228, 233, 237);
  color: #36365b;
  border-color: #36365b;
}

.skills-wrapper {
  display: flex;
  width: 1241px;
  z-index: 1;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
}

.skills {
  text-align: center;
  margin-top: 15px;
  width: 100%;
  margin-right: 15px;
  margin-left: 5px;
}

.skills i {
  transition: 0.5s;
}

.skills i:hover {
  transform: rotate(360deg);
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 370px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(228, 233, 237);
}

.about-title {
  margin: 0;
  padding: 15px;
  padding-left: 30px;
  width: 70%;
  box-sizing: border-box;
  z-index: 1;
  color: #181443;
  font-family: "Ubuntu", sans-serif;
}

.lorem {
  width: 1241px;
  background-color: #ffffff;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  width: 1241px;
  z-index: 1;
}

.olga {
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.photo {
  background-color: #ffffff;
}

.skille {
  width: 100%;
  height: 370px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skille::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgba(228, 233, 237);
}

.skills-title {
  margin: 0;
  padding: 15px;
  padding-left: 30px;
  width: 70%;
  box-sizing: border-box;
  z-index: 1;
  color: #181443;
  font-family: "Ubuntu", sans-serif;
}

.portfolio {
  clear: both;
}

.portfolio-title {
  margin-left: 30px;
  color: #181443;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;

}

.portfolio-item {
  position: relative;
  margin: 0;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item:before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.portfolio-item:hover:before,
.portfolio-item:hover {
  display: block;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 550px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(228, 233, 237);
}

.contact-title {
  margin: 0;
  padding: 15px;
  padding-left: 30px;
  width: 70%;
  box-sizing: border-box;
  z-index: 1;
  color: #181443;
  font-family: "Ubuntu", sans-serif;
}

.contact-content {
  display: flex;
  width: 59.5%;
  z-index: 1;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.form {
  width: 70%;
  background-color: #ffffff;
}

.contact-info {
  background-color: #ffffff;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}

#firstName {
  background: #f8f9fb;
  border-radius: 8px;
}

#lastName {
  background: #f8f9fb;
  border-radius: 8px;
}

#username {
  background: #f8f9fb;
  border-radius: 8px;
}

textarea {
  background: #f8f9fb;
  border-radius: 8px;
}

button {
  background: #f8f9fb;
  border-radius: 8px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
  font-family: "Ubuntu", sans-serif;
}

.social-links li a:hover {
  background-color: #36365b;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

form {
  padding-top: 15px;
  padding-bottom: 15px
}

button {
  padding: 12px 18px 12px 18px;
  font-family: "Ubuntu", sans-serif;
  color: #36365b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  h2 {

    text-align: center;
  }

  .portfolio-title {
    width: 100%;
    margin: 0;
  }

  .about-content {
    flex: 0 0 50%;
    max-width: 100%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  }

  .about {
    height: auto;
    margin-bottom: 20px;
  }

  .about::before {
    display: none;
  }

  .lorem {
    box-shadow: none;
    justify-items: center;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
  }

  .skills-wrapper {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .skille {
    height: auto;
    margin-bottom: 20px;
  }

  .skille::before {
    display: none;
  }

  .skille {
    box-shadow: none;
  }

  .photo {
    display: none;
  }

  .about-title {
    width: 100%;
  }

  .skills-title {
    width: 100%;
  }

  .contact-content {
    flex: 0 0 50%;
    width: 100%;
    max-width: 100%;
    margin-right: 15px;
    box-shadow: none;
  }

  .contact {
    height: auto;
    margin-bottom: 20px;
    justify-items: center;
    text-align: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  }

  .contact::before {
    display: none;
  }

  .form {
    box-shadow: none;
  }

  textarea {
    max-width: 145px;
  }

  .contact-title {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}